---
http_interactions:
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/calls/data/GetNews?apikey=4b2ff2ece2a3a3b5fbd0fa616f9e7b39cdc707f6&end=now&maxResults=10&outputMode=json&q.enriched.url.docSentiment.type=positive&q.enriched.url.entities.entity=%7Ctext=S%20l,type=person%7C&return=enriched.url.title,enriched.url.url,enriched.url.publicationDate&start=now-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.28'
      X-Alchemyapi-Key:
      - 4b2ff2ece2a3a3b5fbd0fa616f9e7b39cdc707f6
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=unknown
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Total-Transactions:
      - '519'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"totalTransactions\": \"519\",\n    \"result\": {\n        \"docs\":
        [\n            {\n                \"id\": \"MTA5OTU3MjcwMjd8MTQ1NzUzNjAxOA\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"publicationDate\": {\n                                \"confident\":
        \"no\",\n                                \"date\": \"20090705T000000\"\n                            },\n
        \                           \"title\": \"Football Federations Around The Globe
        - A Look At The World Of Football | Soccerlens\",\n                            \"url\":
        \"http://soccerlens.com/football-federations/21388/\"\n                        }\n
        \                   }\n                },\n                \"timestamp\":
        1457536018\n            },\n            {\n                \"id\": \"MTA0MTY4Mjk0MzJ8MTQ1NzM5NTIwMA\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"publicationDate\": {\n                                \"confident\":
        \"yes\",\n                                \"date\": \"20160308T000000\"\n
        \                           },\n                            \"title\": \"Thea[...]
[...]
