---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators?apikey=83f29ab34dfe43df88358ec79d6229f0&query=diana
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"D000197","birthday":"1957-07-29","chamber":"house","contact_form":"https://degette.house.gov/contact/send-me-an-email/email-me","crp_id":"N00006134","district":1,"facebook_id":"110757973488","fax":"202-225-5657","fec_ids":["H6CO01141"],"first_name":"Diana","gender":"F","govtrack_id":"400101","icpsr_id":29710,"in_office":true,"last_name":"DeGette","middle_name":"L.","name_suffix":null,"nickname":null,"oc_email":"Rep.Degette@opencongress.org","ocd_id":"ocd-division/country:us/state:co/cd:1","office":"2368
        Rayburn House Office Building","party":"D","phone":"202-225-4431","state":"CO","state_name":"Colorado","term_end":"2017-01-03","term_start":"2015-01-06","thomas_id":"01479","title":"Rep","twitter_id":"RepDianaDeGette","votesmart_id":561,"website":"http://degette.house.gov","youtube_id":"RepDianaDeGette"}],"count":1,"page":{"count":1,"per_page":20,"page":1}}'
  recorded_at: Wed, 09 Mar 2016 18:13:20 GMT
- request:
    method: get
    uri: https://gateway-a.watsonplatform.net/calls/data/GetNews?apikey=4b2ff2ece2a3a3b5fbd0fa616f9e7b39cdc707f6&end=now&maxResults=10&outputMode=json&q.enriched.url.docSentiment.type=positive&q.enriched.url.entities.entity=%7Ctext=Diana%20DeGette,type=person%7C&return=enriched.url.title,enriched.url.url,enriched.url.publicationDate&start=now-7d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      X-Alchemyapi-Currentversion:
      - '12.28'
      X-Alchemyapi-Key:
      - 4b2ff2ece2a3a3b5fbd0fa616f9e7b39cdc707f6
      X-Alchemyapi-Params:
      - sentiment=0&knowledgeGraph=0&detectedLanguage=unknown
      X-Alchemyapi-Status:
      - OK
      X-Alchemyapi-Total-Transactions:
      - '507'
    body:
      encoding: UTF-8
      string: "{\r\n    \"status\": \"OK\",\r\n    \"usage\": \"By accessing AlchemyAPI
        or using information generated by AlchemyAPI, you are agreeing to be bound
        by the AlchemyAPI Terms of Use: http://www.alchemyapi.com/company/terms.html\",\r\n
        \   \"totalTransactions\": \"507\",\n    \"result\": {\n        \"docs\":
        [\n            {\n                \"id\": \"MTAzMDc0OTcwNDR8MTQ1NzM5NTIwMA\",\n
        \               \"source\": {\n                    \"enriched\": {\n                        \"url\":
        {\n                            \"publicationDate\": {\n                                \"confident\":
        \"yes\",\n                                \"date\": \"20160308T000000\"\n
        \                           },\n                            \"title\": \"DeGette,
        Sarbanes, talk campaign finance in Denver\",\n                            \"url\":
        \"http://www.denverpost.com/news/ci_29611810/degette-sarbanes-talk-campaign-finance-denver\"\n
        \                       }\n                    }\n                },\n                \"timestamp\":
        1457395200\n            }\n        ],\n        \"status\": \"OK\"\n    }\n}\r\n"
  recorded_at: Wed, 09 Mar 2016 18:13:21 GMT
recorded_with: VCR 3.0.1
