---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators?apikey=83f29ab34dfe43df88358ec79d6229f0&query=coffman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"C001077","birthday":"1955-03-19","chamber":"house","contact_form":"https://coffman.house.gov/contact/email-me","crp_id":"N00024753","district":6,"facebook_id":"366142384492","fax":"202-226-4623","fec_ids":["H8CO06138","H2CO00019"],"first_name":"Mike","gender":"M","govtrack_id":"412271","icpsr_id":20906,"in_office":true,"last_name":"Coffman","middle_name":null,"name_suffix":null,"nickname":null,"oc_email":"Rep.Coffman@opencongress.org","ocd_id":"ocd-division/country:us/state:co/cd:6","office":"2443
        Rayburn House Office Building","party":"R","phone":"202-225-7882","state":"CO","state_name":"Colorado","term_end":"2017-01-03","term_start":"2015-01-06","thomas_id":"01912","title":"Rep","twitter_id":"RepMikeCoffman","votesmart_id":1535,"website":"http://coffman.house.gov","youtube_id":"CongressmanCoffman"}],"count":1,"page":{"count":1,"per_page":20,"page":1}}'
  recorded_at: Wed, 09 Mar 2016 18:21:57 GMT
[...]
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/legislators/locate?apikey=83f29ab34dfe43df88358ec79d6229f0&zip=80401
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"bioguide_id":"P000598","birthday":"1975-05-12","chamber":"hou[...]
[...]
