<div class="row">
  <% if @presidents %>
    <% @presidents.each do |president| %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">
            <%=president.name%>
            <h4>
              <%= link_to "Search articles", legislator_path("#{president.name}")%><br>
            </h4>
            <div class="card-picture">
              <%= image_tag("#{president.image}") %>
            </div>
        </h4>
        </div>
        <div class="card-block">
          <p class="card-text">
             <%=link_to("Official Website", president.url, target:"_blank") %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
<% end %>
</div>
