<ul class="nav navbar-nav navbar-right navbar-text">
  <h4> <%= link_to "Legislators", legislators_path%></h4>
</ul>
<ul class="nav navbar-nav navbar-right navbar-text">
  <h4> <%= link_to "Presidential Nominees", presidents_path%></h4>
</ul>
