<div class="card-intro">
  <div class="inner cover">
    <h1 class="cover-heading">Rep My News</h1>
    <p class="lead">Search for positive or negative news on any presidential candidate or legislator</p>
    <p class="lead">
       <%= link_to "Search by Presidential Nominees", presidents_path, class: "button"%>
     </p>
       <p class="lead">
      <%= link_to "Search by  Legislators", legislators_path, class: "button"%>
    </p>

  </div>
</div>
