<!DOCTYPE html>
<html>
<head>
  <title>Legislators</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<nav class="navbar navbar-inverse">
</nav>
<body class="background-image">
<div class="container-fluid">

<%= yield %>
</div>

</body>
</html>
